*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #add8e6; /* biru muda */
    color: #1a1a1a;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 900px;
    margin: 40px auto;
    background: #cce7f5; /* biru muda lebih terang */
    padding: 20px;
    border: 5px solid #3399cc; 
}

h1, h2{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    color: #005580; 
}

h2{
    margin-top: 30px;
    color: #006699; 
}

ul, ol{
    margin-left: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #b3e0ff; /* biru lembut untuk tabel */
}

table, th, td{
    border: 2px solid #3399cc;
}

th{
    background-color: #3399cc; 
    color: white;
}

th, td{
    padding: 8px;
    text-align: center;
}

footer{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #005580;
}